/* ===================================================================
 *
 * My Site Audit https://mysiteaudit.com
 *
 * Created: 10/22/15
 * Package: Style/Dashboard
 * File: dashboard.css
 * Author: Kyle Benk
 *
 *
 * Copyright 2015
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * ================================================================= */

/* =====================================================
 *
 * Helper Classes
 *
 ==================================================== */

#dashboard-widgets .postbox .inside {
	display: inline-block;
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.msa-left-column {
	width: 30%;
}

.msa-right-column {
	width: 70%;
}

.msa-left-column,
.msa-right-column {
	float: left;
	display: inline-block;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.msa-left-column-content {
	padding: 20px;
	padding-left: 10px;
}

.msa-right-column-content {
	padding-top: 20px;
	padding-left: 10px;
}

/* Credit: http://littledice.me/2014/04/16/responsive-circles-with-css/ */

.msa-circle {
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	width: 200px;
	max-width: 100%;
	position: relative;
}

.msa-circle-border {
	border: 5px solid;
}

.msa-circle-solid{
	background-color: whitesmoke;
}

.msa-circle:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.msa-circle-inner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}

.msa-score-text {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 1em;
	line-height: 1em;
	font-size: 3em;
}

/* Credit: http://littledice.me/2014/04/16/responsive-circles-with-css/ */

/* =====================================================
 *
 * Yoast SEO
 *
 ==================================================== */

.wpseo-score-icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-left: 6px;
	border-radius: 50%;
	background: #888;
	line-height: 16px;
}

.wpseo-score-icon.good {
	background-color: #7ad03a;
}

.wpseo-score-icon.ok {
	background-color: #ffba00;
}

.wpseo-score-icon.poor {
	background-color: #ee7c1b;
}

.wpseo-score-icon.bad {
	background-color: #dd3d36;
}

.wpseo-score-icon.na {
	background-color: #888;
}

.wpseo-score-icon.noindex {
	background-color: #1e8cbe;
}