/**
 * Extensions
 */

#wpbody-content #dashboard-widgets,
#wpbody-content #dashboard-widgets * {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#wpbody-content #dashboard-widgets {
	display: inline-block;
	width: 100%;
	max-width: 1000px;
	padding-top: 40px;
}

#wpbody-content #dashboard-widgets .postbox-container {
	width: 33.3333%;
}

#wpbody-content #dashboard-widgets .postbox-container img {
	width: 100%;
}

#wpbody-content #dashboard-widgets .meta-box-sortables {
	margin: 0;
	padding: 10px;
}

#wpbody-content #dashboard-widgets .postbox {
	min-width: intrinsic;
}

@media only screen and (max-width: 1024px) {
	#wpbody-content #dashboard-widgets .postbox-container {
		width: 33.3333%;
	}
}

@media only screen and (max-width: 768px) {
	#wpbody-content #dashboard-widgets .postbox-container {
		width: 50%;
	}
}

@media only screen and (max-width: 414px) {
	#wpbody-content #dashboard-widgets .postbox-container {
		width: 100%;
	}
}
