/* ===================================================================
 *
 * My Site Audit https://mysiteaudit.com
 *
 * Created: 11/5/15
 * Package: Style/Post Meta
 * File: post-meta.css
 * Author: Kyle Benk
 *
 *
 * Copyright 2015
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * ================================================================= */

.msa-post-meta-container {
	display: inline-block;
}

.msa-post-meta-audit-meta-attributes {
	padding-right: 20px;
}

.msa-post-meta-attribute {
	font-weight: bold;
}

.msa-post-meta-value {
	padding: 6px 12px;
	margin: 0;
}

.msa-post-meta-value.msa-post-status-bg {
	text-align: center;
	font-weight: bold;
}