/**
 * Helper Classes
 */

.msa-form {
	min-height: 50%;
}

.msa-settings-heading {
	border-bottom: 1px solid #ddd;
	margin-right: 20px;
	padding-bottom: 20px;
}

.msa-system-info-text {
	width: 800px;
	height: 400px;
	font-family: Menlo, Monaco, monospace;
	background: none;
	white-space: pre;
	overflow: auto;
	display: block;
}

/**
 * Vertical Tabs
 */

.msa-vertical-tabs-menu {
	position: absolute;
	float: left;
	z-index: 9;
	width: 160px;
	display: inline-block;
	height: 500px;
}

.msa-vertical-tabs-content {
	margin-left: 160px;
	padding-left: 20px;
	height: 100%;
	min-height: 500px;
	border: 1px solid #ccc;
	position: relative;
	right: 1px;
	background-color: white;
}

.msa-vertical-tabs-item {
	margin: 0;
	border: 1px solid #ccc;
	margin: 1px 0px;
}

.msa-vertical-tabs-item a {
	width: 100%;
	padding: 12px 0px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: #333;
}

.msa-vertical-tabs-current {
	background-color: white;
	border-right-color: white;
}

.msa-vertical-tabs-content-item {
	display: none;
}

.msa-vertical-tabs-content-current {
	display: block;
}

/**
 * Licensing
 */

p.msa-activation-message {
	color: inherit;
}

p.msa-license-valid {
	color: green;
}

p.msa-license-invalid,
p.msa-license-expired {
	color: red;
}
